.Fix {
    display: flex;
    width: 100%;
}


/* .Fixcontent{
    width: 70%;
} */

.Fix>.fixcontent {
    width: 80%;
}

.wrapp {
    background-color: rgb(255, 255, 255);
    width: 21%;
    right: 0;
    height: 93vh;
}

.meeting {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}