.user_container {
    margin-left: 10%;
}

.user_title {
    margin-top: 25%;
}

.menu {
    display: flex;
    /* margin-left: 1%; */
    /* margin-top: 30px;
    margin-left: 100px;
    margin-right: 90px; */
}

.menu-name {
    display: block;
    margin: 10% 10% 50% 25%;
}